html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
  line-height: 1.5;
  font-size: 1.5rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 1rem;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
}

dt, dd {
  font-size: 1.5rem;
}

figcaption {
  font-size: 1.5rem;
}
