html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "banner banner"
    "banner-text banner-text banner-text";
  gap: .75rem;
}

dt, dd {
  font-size: 1.5rem;
}

figcaption {
  font-size: 1.5rem;
}

.banner {
  display: grid;
  grid-area: banner;
}

.banner img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

h2 p {
  grid-column: 1;
  grid-row: 2;
  z-index: 1;
}

dl {
  grid-area: dl;
}

h3 {
  grid-area: h3;
}
