html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
  line-height: 1.5;
  font-size: 1.5rem;
  margin: 1rem 1.5rem;
  padding: 1rem 1.5rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  margin: 1.5rem;
}

div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

div img {
  grid-column: 1/2;
  align-self: end;
  z-index: 1;
}

body {
  margin: 1rem;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "img img img"
    "h3 h3 h3"
    "dl dl dl";
    gap: .75rem
}

dt, dd {
  font-size: 1.5rem;
}

figcaption {
  font-size: 1.5rem;
}

.banner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 4rem;
}

.banner img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

h2 p {
  grid-column: 1;
  grid-row: 2;
  z-index: 1;
}

dl {
  grid-area: dl;
}

h3 {
  grid-area: h3;
}
